*
header{
    background-color: black;
       
}

body{
    background-color:lightseagreen
}
h1{
    font-size: 5em;
    justify-content: center;
    display: flex;
}

footer{
    background-color: slategrey;
}
.col{
    padding-top: 30px;
}
