*
header{
    background-color: black;
       
}
img{
    margin-bottom: 1%;
}
body{
    background-color:turquoise;
}
h1{
    font-size: 5em;
    justify-content: center;
    display: flex;
}
body{
    background-color:img;
}
#pa{
    background-color:wheat;
    display: flex;
    justify-content: center;
}